button{
    background-color: #191919;
    color: white;
    transition: .3s;
    border: 0.5px solid white;
    border-radius: 5px;
    padding: 7px;
    letter-spacing: 1px;
}

button:hover{
    background-color: #0a702e;
}
.ny{
    color: #0a702e;
    font-size: 40px;
}
